<!-- Basic data -->
<div class="main-box clearfix">
  <header class="main-box-header clearfix">
    <h2>{{"profile.basic_info" | translate}}</h2>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tbody>
          <tr>
            <td>
              {{"profile.type" | translate}}
            </td>
            <td>
              <span class="label" ng-class="{'label-danger': ctrl.profile.type == 'Community', 'label-info': ctrl.profile.type == 'Person'}">{{ctrl.profile | translateProfile}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Custom Fields -->
<div class="main-box clearfix profile-custom-fields" ng-if="!equals({},ctrl.profile.additional_data)">
  <header class="main-box-header clearfix">
    <h2>{{"profile.others_info" | translate}}</h2>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tbody>
          <tr ng-repeat="(field, value) in ctrl.profile.additional_data">
            <td>
              {{ field }}
            </td>
            <td>
              {{ value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
