<div class="environment-container">
  <div class="row">
    <noosfero-boxes ng-if="vm.boxes"
                    [layout]="vm.environment.layout_template"
                    [boxes]="vm.boxes"
                    [owner]="vm.environment">
    </noosfero-boxes>
  </div>
</div>
