.profile-image-wrap{
  display: inherit;
}
.item-avatar-img{
  width: 60px;
  float: left;
  margin: 2px 7px 5px 0;
  font-size: 4.0em;
}

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  .container-camera {
      position: relative;
      z-index: 2;
      .upload-camera{
        text-decoration: none;
        right: 0px;
        left: 0px;
        position: absolute;
        font-size: 1.5em;
        bottom: 2px;
        text-shadow: 0px 0px 3px black;
        color: white;
        padding-top: 5px;
        &:hover{
          font-size: 1.5em;
          background-color: rgba(0, 0, 0, 0.50);
        }

      }
  }
  .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
    z-index: 1;
  }
  img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    width: 100%;
  }
  &:hover {
    img {
      -ms-transform:scale(1.2);
      -webkit-transform:scale(1.2);
      transform:scale(1.2);
    }
    .overlay {
      opacity:1;
      filter:alpha(opacity=100);
    }
  }
}
