<div class="modal-header">
  <h3>{{"profile.image.edit" | translate}}</h3>
</div>
<div class="modal-body">
  <form class="">
    <div ngf-drop ng-model="ctrl.picFile" ngf-pattern="image/*" class="crop-area">
      <img-crop image="ctrl.picFile  | ngfDataUrl" area-type="square" result-image="ctrl.croppedDataUrl" ng-init="ctrl.croppedDataUrl=''">
      </img-crop>
    </div>
    <div class='cropped-image'>
      <img ng-src="{{ctrl.croppedDataUrl}}" />
    </div>
  </form>

  <div class="actions">
    <button type="submit" class="btn btn-default" (click)="ctrl.uploadImage(ctrl.croppedDataUrl, ctrl.picFile.name)">Upload</button>
    <button type="submit" class="btn btn-danger" (click)="ctrl.cancel()">{{"profile.image.editor.cancel.button" | translate}}</button>
  </div>
</div>
