<div class="deckgrid recent-activities-block">
  <div ng-repeat="activity in ctrl.activities" class="a-card panel media">

    <div class="subheader">
      <p ng-if="activity.label === 'events'">
      {{ 'activities.event.description' | translate }} <b>{{ activity.start_date | date:longDate }}</b> {{ 'time.at' | translate }} {{ activity.start_date | date:'HH:mm' }} - <a ng-href="/{{activity.user.identifier}}">{{activity.user.name}}</a> <span class="activity-label">{{activity.label}}</span>
      </p>

      <p ng-if="activity.label !== 'events'">
      {{ 'date.on' | translate }} <b>{{ activity.created_at | date:longDate }}</b> {{ 'time.at' | translate }} {{ activity.created_at | date:'HH:mm' }} - <a ng-href="/{{activity.user.identifier}}">{{activity.user.name}}</a> <span class="activity-label">{{activity.label}}</span>
      </p>
    </div>

    <div class="header media-body">
      <h5 class="title media-heading">
        <ng-include src="ctrl.getActivityTemplate(activity)"></ng-include>
      </h5>
    </div>

    <hr />
  </div>
</div>
