<div class="article">
  <div class="page-header">
    <h1 ng-bind="ctrl.article.title"></h1>
  </div>

  <div class="sub-header clearfix">
    <div class="article-toolbar">
      <a href="#" permission="ctrl.article.permissions" permission-action="allow_edit" class="btn btn-default btn-xs edit-article" ui-sref="main.cmsEdit({profile: ctrl.profile.identifier, id: ctrl.article.id})">
        <i class="fa fa-pencil-square-o fa-fw fa-lg"></i> {{"article.actions.edit" | translate}}
      </a>
      <a href="#" permission="ctrl.article.permissions" permission-action="allow_delete" class="btn btn-default btn-xs delete-article" ng-click="ctrl.delete()">
        <i class="fa fa-trash-o fa-fw fa-lg"></i> {{"article.actions.delete" | translate}}
      </a>
      <noosfero-hotspot-article-toolbar [article]="ctrl.article"></noosfero-hotspot-article-toolbar>
    </div>
    <div class="page-info pull-right small text-muted">
      <span class="time">
        <i class="fa fa-clock-o"></i> <span am-time-ago="ctrl.article.created_at | dateFormat"></span>
      </span>
      <span class="author" ng-if="ctrl.article.author">
        <i class="fa fa-user"></i>
        <a ui-sref="main.profile.home({profile: ctrl.article.author.identifier})">
          <span class="author-name" ng-bind="ctrl.article.author.name"></span>
        </a>
      </span>
    </div>
  </div>
  <noosfero-hotspot-article-content [article]="ctrl.article"></noosfero-hotspot-article-content>
  <div class="page-body">
    <div bind-html-compile="ctrl.article.body"></div>
  </div>

  <noosfero-comments [article]="ctrl.article"></noosfero-comments>
</div>
