<div deckgrid source="ctrl.documents" class="deckgrid">
  <div class="a-card panel media" ng-click="mother.ctrl.openDocument(card);">
      <div class="author media-left" ng-show="card.author.image">
        <img ng-src="{{card.author.image.url}}" class="img-circle">
      </div>
      <div class="header media-body">
        <h4 class="title media-heading" ng-bind="card.title"></h4>
        <div class="subheader">
          <discussion-period [article]="card"></discussion-period>
        </div>
      </div>
      <img ng-show="card.image" ng-src="{{card.image.url}}" class="img-responsive article-image">
    </div>
</div>
