<div class="comment media">
  <div class="media-left">
    <a ui-sref="main.profile.home({profile: ctrl.comment.author.identifier})">
      <noosfero-profile-image [profile]="ctrl.comment.author"></noosfero-profile-image>
    </a>
  </div>
  <div class="media-body">
    <div class="heading clearfix">
      <a class="pull-left" ui-sref="main.profile.home({profile: ctrl.comment.author.identifier})">
        <h4 class="media-heading">{{ctrl.comment.author.name}}</h4>
      </a>
      <span class="reply-of" ng-if="ctrl.comment.reply_of" uib-tooltip-template="'app/article/comment/comment-reply-tooltip.html'">
        <i class="fa fa-fw fa-mail-forward"></i>
        <span class="author">{{ctrl.comment.reply_of.author.name}}</span>
      </span>
      <span class="date" am-time-ago="ctrl.comment.created_at | dateFormat"></span>
    </div>
    <div class="title">{{ctrl.comment.title}}</div>
    <div class="body">{{ctrl.comment.body}}</div>
    <div class="actions" ng-if="ctrl.displayActions">
      <a href="#" (click)="ctrl.reply()" class="action small text-muted reply" ng-if="ctrl.article.accept_comments">
        <span class="bullet-separator">•</span>
        {{"comment.reply" | translate}}
      </a>
      <a permission="ctrl.comment.permissions" permission-action="allow_destroy" href="#" (click)="ctrl.remove()" class="action small text-muted remove" ng-if="ctrl.allowRemove()">
        <span class="bullet-separator">•</span>
        {{"comment.remove" | translate}}
      </a>
    </div>
  </div>
  <noosfero-comments [show-form]="ctrl.showReply()" [article]="ctrl.article" [parent]="ctrl.comment" ng-if="ctrl.displayReplies"></noosfero-comments>
</div>
