.icon-event {
  @extend .fa-calendar;
}
.icon-photos {
  @extend .fa-photo;
}
.icon-edit {
  @extend .fa-edit;
}
.icon-ok {
  @extend .fa-check;
}
.icon-send {
  @extend .fa-send-o;
}
.icon-menu-people {
  @extend .fa-user;
}
.icon-forum {
  @extend .fa-users;
}
.icon-new {
  @extend .fa-file-o;
}
.icon-save {
  @extend .fa-save;
}

.link-list-block {
  a i {
    line-height: 25px;
    color: #949494;
  }
}
