<div class="link-list-block">
  <div ng-repeat="link in ctrl.links">
    <a ng-href="{{link.address | noosferoTemplate:{profile: ctrl.owner.identifier} }}">
      <i class="fa fa-fw icon-{{link.icon}}"></i> <span>{{link.name}}</span>
    </a>
  </div>
</div>
