<div class="modal-header">
  <h3 class="modal-title">{{"auth.form.forgot_passwd" | translate}}</h3>
</div>
<div class="modal-body">
  <form name="forgotPasswdForm">
    <div class="form-group" ng-class="{'has-error': forgotPasswdForm.username.$error.required }">
      <label for="forgotPasswdLogin">{{"auth.form.login" | translate}}</label>
      <input type="text" name="username" class="form-control" id="forgotPasswdLogin" placeholder="{{'auth.form.login' | translate}}" ng-model="vm.username"  required>
        <div class="help-block" ng-messages="forgotPasswdForm.username.$error">
          <div ng-if="forgotPasswdForm.username.$touched">
            <ul class="list-unstyled">
              <li ng-messages-include="app/shared/messages/form-errors.html"></li>
            </ul>
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default btn-block" ng-click="vm.sendPasswdInfo(); $close()" ng-disabled="forgotPasswdForm.$invalid">{{"auth.forgot_password.button.send_instructions" | translate}}</button>
  </form>
  <p>{{"auth.forgot_password.action" | translate}}</p>
</div>
