<div class="modal-header">
  <h3 class="modal-title">{{"auth.title" | translate}}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="email">{{"auth.form.login" | translate}}</label>
      <input type="text" class="form-control" id="email" placeholder="{{'auth.form.login' | translate}}" ng-model="vm.credentials.username">
    </div>
    <div class="form-group">
      <label for="passwd">{{"auth.form.password" | translate}}</label>
      <input type="password" class="form-control" id="passwd" placeholder="{{'auth.form.password' | translate}}" ng-model="vm.credentials.password">
    </div>
    <div class="form-inline">
      <div class="checkbox-nice">
        <input type="checkbox" id="keep-logged">
        <label for="keep-logged">
          {{"auth.form.keepLoggedIn" | translate}}
        </label>
      </div>
      <div class="pull-right">
        <a ng-click="vm.openForgotPassword(); $close();" href="">{{"auth.form.forgot_passwd" | translate}}</a>
      </div>
    </div>
    <button type="submit" class="btn btn-default btn-block" ng-click="vm.login()">{{"auth.form.login_button" | translate}}</button>
  </form>
  <div class="text-center">
    <a ui-sref="main.register" ng-click="$close()">{{"auth.createAccount" | translate}}</a>
  </div>
</div>
