<div class="new-password-page col-xs-4 col-xs-offset-4">
  <h1>{{"new_password.welcomeMessageTitle" | translate }}</h1>

  <form name="newPasswdForm">
    <div class="form-group" ng-class="{'has-error': newPasswdForm.password.$invalid && newPasswdForm.password.$touched }">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password" placeholder="{{'account.register.passwordLabel' | translate }}" ng-model="vm.password" required minlength="4">
      </div>
      <div class="help-block" ng-show="newPasswdForm.password.$touched" ng-messages="newPasswdForm.password.$error">
        <ul class="list-unstyled">
          <li ng-messages-include="app/shared/messages/form-errors.html"></li>
        </ul>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': newPasswdForm.passwordConfirm.$invalid && newPasswdForm.passwordConfirm.$touched }">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" match-password="password" placeholder="{{'account.register.passwordConfirmationLabel' | translate}}" ng-model="vm.passwordConfirmation" required>
      </div>
      <div class="help-block" ng-show="newPasswdForm.passwordConfirm.$touched" ng-messages="newPasswdForm.passwordConfirm.$error">
        <ul class="list-unstyled">
          <li ng-messages-include="app/shared/messages/form-errors.html"></li>
          <li ng-message="passwordMatch" translate="messages.invalid.passwordMatch"></li>
        </ul>
      </div>
    </div>
    <button type="submit" class="btn btn-default btn-block" ng-click="vm.sendNewPassword()" ng-disabled="newPasswdForm.$invalid">{{"new_password.submit" | translate}}</button>
  </form>
</div>
