<i class="task-icon fa fa-fw fa-file-text"></i>
<span class="requestor">{{task.requestor.name}}</span> {{"tasks.suggest_article.message" | translate}} <span class="target">{{task.data.article.name}}</span>
