<acme-navbar></acme-navbar>
<!-- Sidebar Left -->
<sidebar [visible]="false"></sidebar>
<div class="content-wrapper full-content">
  <div id="content" ui-view="content"></div>
</div>
<theme-footer id="footer"></theme-footer>
