.profile-images-plugin-profile-images {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;

  li {
    list-style: none;
  }

  a {
    display: block;
    width: 53px;
    height: 53px;
    float: left;
    padding: 1px;
    border: 1px solid #ccc;
    margin: 4px;
    background-size: cover;

    &:hover {
      border: 1px solid #000;
    }

    span {
      display: none;
    }
  }  
}
