/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

$navbar-height: 50px;
$navbar-padding-vertical: 9px;
$line-height-computed: 32px;
$brand-success: #1E96D0;
$text-color: #676767;
$panel-default-text: rgb(44, 62, 80);
$link-color: #007EBB;
$body-bg: #f5f8fa;
$page-header-border-color: #eee;

//global bg color
$main-bg-color: #e7ebee;

//primary colors
$primary-color: #03a9f4;
$primary-color-dark: #0288d1;

//OTHER COLORS
$default-bg-hover-color: #f8f8f8;
$red-color: #e84e40;
$red-color-dark: #dd191d;
$green-color: #8bc34a;
$green-color-dark: #689f38;

//GRID - media queries breakpoints
$break-xxs-min: 420px;
$break-xs-min: 768px;
$break-sm-min: 992px;

$break-xxs-max: ($break-xxs-min - 1);
$break-sm-max: ($break-sm-min - 1);
$break-xs-max: ($break-xs-min - 1);


@import "../../bower_components/bootswatch/flatly/_variables.scss";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1, h2, h3, h4, h5 {
  color: #237394;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

@import "../../bower_components/bootswatch/flatly/_bootswatch.scss";
@import "layout/scss/mixins";
@import "layout/scss/bootstrap-overrides";
@import "layout/scss/layout";
@import "layout/scss/sidebar";
@import "layout/scss/tables";
@import "layout/scss/forms";
