<li class="dropdown profile-menu btn-nav" uib-dropdown>
  <a href="#" class="dropdown-toggle" aria-expanded="false" uib-dropdown-toggle tabindex="4">
    <span>{{"language.selector" | translate}}</span> <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" uib-dropdown-menu>
    <li ng-repeat="(language, description) in ctrl.availableLanguages()"
      class="language language-{{language}}" ng-class="{'active': language==ctrl.currentLanguage()}">
      <a href="#" ng-click="ctrl.changeLanguage(language)">
        {{description}}
      </a>
    </li>
  </ul>
</li>
