<timeline-badge class="info">
  <i alt='{{"activity.add_member_in_community.icon" | translate}}' class="fa fa-user-plus"></i>
</timeline-badge>
<timeline-panel>
  <timeline-heading>
    <h4 class="timeline-title">
      <a ui-sref="main.profile.info({profile: ctrl.activity.user.identifier})"><strong ng-bind="ctrl.activity.user.name"></strong></a>
      <span> {{"activities.add_member_in_community.description" | translate}}</span>
    </h4>
    <p><small class="text-muted"><i class="fa fa-clock-o"></i> <span am-time-ago="ctrl.activity.created_at | dateFormat"></span></small></p>
  </timeline-heading>
  <div class="timeline-body"></div>
</timeline-panel>
