<timeline-badge class="success">
  <i alt='{{"activity.leave_scrap.icon" | translate}}' class="fa fa-commenting-o"></i>
</timeline-badge>
<timeline-panel>
  <timeline-heading>
    <h4 class="timeline-title">
      <a ui-sref="main.profile.info({profile: ctrl.activity.user.identifier})"><strong ng-bind="ctrl.activity.user.name"></strong></a>
      <span> {{"activities.scrap.description" | translate}} </span>
    </h4>
    <p><small class="text-muted"><i class="fa fa-clock-o"></i> <span am-time-ago="ctrl.activity.created_at | dateFormat"></span></small></p>
  </timeline-heading>
  <div class="timeline-body">
    <div class="scrap">
      <div ng-bind-html="ctrl.activity.content | stripTags | truncate: 100 : '...': true"></div>
    </div>
  </div>
</timeline-panel>
