.navbar {
  min-height: 123px;
  background:url("../assets/images/redebrasil/bg-header.png") repeat-x;

  .container-fluid {
    .navbar-brand {
      .noosfero-logo {
        background:url("../assets/images/redebrasil/header-home.png") no-repeat;
        padding: 0px 257px 63px 15px;
      }
      .noosfero-name {
        display: none;
      }
    }
  }
}
