$hc-primary-color: #000000;
$hc-secondary-color: #FFFFFF;
$hc-font-color: $hc-secondary-color;

@mixin force-high-contrast() {
  color: $hc-font-color !important;
  background-color: $hc-primary-color !important;
}
@mixin force-high-contrast-inverse() {
  color: $hc-primary-color !important;
  background-color: $hc-secondary-color !important;
}

.skin-high-contrast {
  @extend %skin-base;
  @include force-high-contrast();

  button, .btn, .btn-nav {
    border-color: $hc-font-color !important;
    @include force-high-contrast();
    &:hover, &:focus {
      @include force-high-contrast();
    }
  }

  .dropdown {
    .dropdown-menu {
      border-color: $hc-secondary-color !important;
      border: 1px solid $hc-secondary-color !important;
      li a:hover {
        opacity: 0.6;
      }
    }
    * {
      @include force-high-contrast();
    }
  }

  .popover {
    border: 1px solid $hc-secondary-color !important;
  }

  .caret {
    border-bottom-color: $hc-font-color !important;
    border-top-color: $hc-font-color !important;
  }

  .navbar {
    background-image: none;
    border-bottom: 1px solid $hc-secondary-color;
    &, .noosfero-name, .open > a {
      @include force-high-contrast();
    }
    .participa-accessibility {
      * {
        @include force-high-contrast();
        border-color: $hc-font-color !important;
      }
      #participa-links li a .accesskey {
        @include force-high-contrast-inverse();
      }
    }
    .badge {
      @include force-high-contrast-inverse();
    }
  }

  .modal-dialog {
    .modal-content {
      border: 1px solid $hc-secondary-color !important;
    }
    * {
      @include force-high-contrast();
    }
  }

  .toast {
    @include force-high-contrast();
    border: 1px solid $hc-secondary-color !important;
    * {
      @include force-high-contrast();
    }
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 2px solid $hc-secondary-color;
  }

  sidebar {
    @include force-high-contrast();
    * {
      @include force-high-contrast();
    }
    .item-count {
      @include force-high-contrast-inverse();
    }
  }

  theme-footer {
    * {
      @include force-high-contrast();
    }
    a {
      text-decoration: underline !important;
    }
  }

  :focus {
    outline: 2px dashed $hc-secondary-color !important;
    outline-offset: -2px;
  }

  .top-search-toggled {
    border-bottom: 1px solid $hc-secondary-color;
    @include force-high-contrast();
    * {
      @include force-high-contrast();
    }
    .tsw-inner > * {
      border: 1px solid $hc-secondary-color;
    }
  }

  #config-tool {
    * {
      color: $hc-primary-color !important;
    }
    .switch.checked {
      @include force-high-contrast();
      border-color: $hc-secondary-color;
      .switch-text {
        * {
          color: $hc-secondary-color !important;
        }
      }
    }
    #config-tool-cog {
      &:hover {
        background-color: $hc-secondary-color !important;
      }
    }
  }

  .cke {
    .cke_top {
      * {
        background-color: $hc-secondary-color !important;
        color: $hc-primary-color !important;
      }
    }
  }

  .content-wrapper {
    * {
      @include force-high-contrast();
    }
    a {
      text-decoration: underline !important;
    }
    @include force-high-contrast();
    .panel-heading {
      background: $hc-primary-color !important;
      h3 {
        border-bottom: 3px solid $hc-secondary-color !important;
      }
    }
    .badge {
      @include force-high-contrast-inverse();
    }
    .timeline-badge {
      @include force-high-contrast-inverse();
      border-radius: 50%;
      i {
        @include force-high-contrast-inverse();
      }
    }
    .container-camera {
       * {
         background-color: transparent !important;
         background: transparent !important;
       }
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }

    comment-paragraph-plugin-allow-comment {
      .arrow_box {
        background-color: $hc-secondary-color !important;
        background: $hc-secondary-color !important;
        .count {
          @include force-high-contrast-inverse();
          background: $hc-secondary-color !important;
        }
        &:after {
          border-top-color: $hc-secondary-color !important;
        }
      }
      .arrow {
        background: transparent !important;
      }
    }
  }
}
