$yellow-hover: #f5b025;
$yellow-base: #f9c404;

.skin-yellow {
  @extend %skin-base;

  .notifications-list .item-footer {
    background: #DAE1C4;
    color: #4F9CAC;
  }

  .navbar-nav .open > a,
  .navbar-nav .open > a:hover,
  .navbar-nav .open > a:focus {
    background-color: $selected-color;
    color: #000;
  }

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    border: none;
  }

  .dropdown-menu {
     li > a:hover {
      color: #555;
      background-color: #F7F7F7;
    }

    .active > a,
    .active > a:hover,
    .active > a:focus {
      color: #000;
      background-color: #CCC;
    }
  }

  .nav .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
  }

  .nav .open .caret {
    border-bottom-color: #000 !important;
    border-top-color: #000 !important;
  }

  .navbar-inverse .navbar-toggle {
    border-color: #D49F18;
  }

  .container-fluid .navbar-header .navbar-toggle {
    &:hover, &:focus {
      background-color: $yellow-hover;
    }
  }

  .navbar {
		.navbar-nav .btn-nav {
			&:hover {
	      background-color: $selected-color;
	    }
		}
  }

  #config-tool {

    #config-tool-cog {
      color: $yellow-hover;
    }

    #config-tool-options {
      h4 {
        color: #2c3e50;
        font-weight: bold;
      }
    }

    &.closed {
      #config-tool-cog {
        &:hover {
          background-color: $yellow-hover;
        }
      }
    }
  }

}
