<div id="nav-col" ng-show="ctrl.isVisible()" ng-class="{'sidebar-hide':!ctrl.isVisible()}">
    <section id="col-left" class="col-left-nano">
      <div id="col-left-inner" class="col-left-nano-content">
        <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
          <noosfero-profile-image [profile]="ctrl.user"></noosfero-profile-image>
          <div class="user-box">
            <span class="name">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ctrl.user.name}}
              </a>
            </span>
            <span class="status" ng-show="ctrl.showStatus">
              <i class="fa fa-circle"></i> {{ctrl.user.status}}
            </span>
          </div>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
            <sidebar-section [items]="ctrl.getSectionItems()"></sidebar-section>
        </div>
      </div>
    </section>
  </div>
