/* TABS */
.nav-tabs {
	background: #f9f9f9;
	border-color: transparent;
	margin-bottom: 15px;
	@include border-radius(3px 3px 0 0);

	> li > a {
		@include border-radius(0);
		font-size: 1.125em;
		font-weight: 300;
		outline: none;
		color: #555;
		margin-right: 3px;
	}
	> li > a:hover,
	> li > a:focus {
		border-color: transparent;
		@include border-radius(3px 3px 0 0);
		color: #555;
		border-bottom: 0;
		background: rgba(219, 221, 223, 0.46);
	}
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		@include border-radius(3px 3px 0 0);
		border-left: 0;
		border-top: 2px solid #03a9f4;
		border-right: 0;
		background: #fff;
	}
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	border-color: $main-bg-color;
}
.nav .caret {
	border-bottom-color: $primary-color;
	border-top-color: $primary-color;
}
.main-box .tabs-header {
	min-height: 50px;
	padding: 10px 20px;
}
.main-box .tab-content-body {
	padding: 0 20px 20px 20px;
	margin-bottom: 0;
}
.main-box .tab-content {
	padding: 0 10px;
}
.tabs-wrapper.tabs-no-header .tab-content {
	padding: 0 20px 20px;
}

/* LABELS */
.label {
	@include border-radius($border-radius-base);
	font-size: 0.875em;
	font-weight: 600;
}
.label-default,
.label.label-large {
	font-size: 1em;
	padding: 0.4em 0.8em 0.5em;
}
.label.label-circle {
	@include border-radius(50%);
	padding: 4px !important;
}
a:focus, button:focus {
  outline: 5px auto #4e4e4e !important;
  outline-offset: -2px;
}
