/* MAINBOX */
.main-box {
		border: 1px solid #e7ebee;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 16px;
    /* overflow: hidden; */
    @include border-radius($border-radius-base);

	@media (max-width: $break-xs-max) {
		margin-bottom: 10px;
	}

	h2 {
	    font-size: 1.3em;
	    line-height: 29px;
	    margin: 0;
	    padding: 0;

		@media (max-width: $break-xxs-max) {
			margin-bottom: 5px;
		}
	}
	&.no-header {
		padding-top: 20px;
	}
	.main-box-header {
	    min-height: 50px;
	    padding: 10px 20px;

		&.with-border {
			border-bottom: 1px solid #ecf0f1;
		}
	}
	.main-box-body {
		padding: 0 20px 20px 20px;
	}
}

.read-aloud {
	position: absolute;
	left: -999em;
}
