<div id="footer-brasil"></div>
<div id="footer-license">
  Este site utiliza o software livre <a href="http://noosfero.org" target="_blank">Noosfero</a>, licenciado pela <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU Affero General Public License, versão 3 ou superior.<a>
</div>
