<ul class="nav navbar-nav" permission="vm.profile.permissions" permission-action="allow_edit">
    <li class="dropdown profile-menu" uib-dropdown>
        <a class="btn dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
            {{"navbar.content_viewer_actions.new_item" | translate}}
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu ng-show="vm.profile">
            <li>
                <a href="#" ui-sref="main.cms({profile: vm.profile.identifier, parent_id: vm.parentId})">
                    <i class="fa fa-file fa-fw fa-lg"></i> {{"navbar.content_viewer_actions.new_post" | translate}}
                </a>
            </li>
            <li>
                <a href="#" ui-sref="main.cms({profile: vm.profile.identifier, parent_id: vm.parentId, type: 'CommentParagraphPlugin::Discussion'})">
                    <i class="fa fa-file fa-fw fa-lg"></i> {{"navbar.content_viewer_actions.new_discussion" | translate}}
                </a>
            </li>
        </ul>
    </li>
</ul>
