<div id="config-tool" ng-class="{'closed': !showConfig}" permission="vm.profile.permissions" permission-action="allow_edit">
		<a id="config-tool-cog" href="#" ng-click="showConfig = !showConfig">
			<i alt='{{"configbar.icon.description" | translate}}' class="fa fa-cog" ng-class="{'anim-icon': showConfig}"></i>
		</a>

		<div id="config-tool-options">
			<h4>{{ 'configbar.label' | translate }}</h4>
      <div class="section-title">{{ 'configbar.section.layout' | translate }}</div>
			<ul>
        <li>
          <label class="pull-left">
            <i class="fa fa-th-large"></i>
            <span class="item-label">{{ 'designMode.label' | translate }}</span>
          </label>
          <label class="pull-right">
            <design-toggler></design-toggler>
          </label>
        </li>
			</ul>
		</div>
</div>
