<ul class="nav navbar-nav">
    <li class="dropdown profile-menu" uib-dropdown>
        <a href="#" tabindex="2" class="btn dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
            {{"navbar.profile_actions.new_item" | translate}}
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu ng-show="vm.profile">
            <!-- FIXED HERE BUT SHOULD BE A HOTSPOT TO INCLUDE LINKS FROM THE PLUGIN -->
            <li>
                <a href="#" ui-sref="main.cms({profile: vm.profile.identifier, parent_id: null, type: 'CommentParagraphPlugin::Discussion'})">
                    <i class="fa fa-file fa-fw fa-lg"></i> {{"navbar.profile_actions.new_discussion" | translate}}
                </a>
            </li>
        </ul>
    </li>

</ul>
