<div class="logged-user-info" ng-show="ctrl.currentUser">
    <h4>Logged in as {{ctrl.currentUser.person.identifier}}</h4>
    <ul>
        <li>User since 
            <span class="time">
                <span am-time-ago="ctrl.currentUser.person.created_at | dateFormat"></span>
            </span>        
        </li>
      <li><a ui-sref="main.profile.info({profile: ctrl.currentUser.person.identifier})">Profile Homepage</a></li>
    </ul>
    <div class="user-actions">
      <a href="#" ng-click="ctrl.logout()"><i class="fa fa-fw fa-power-off"></i> {{"navbar.logout" | translate}}</a>
    </div>    
</div>
<div class="logged-user-info" ng-show="!ctrl.currentUser">
  <form>
    <div class="form-group">
      <label for="email">{{"auth.form.login" | translate}}</label>
      <input type="text" class="form-control" id="email" placeholder="{{'auth.form.login' | translate}}" ng-model="ctrl.credentials.username">
    </div>
    <div class="form-group">
      <label for="passwd">{{"auth.form.password" | translate}}</label>
      <input type="password" class="form-control" id="passwd" placeholder="{{'auth.form.password' | translate}}" ng-model="ctrl.credentials.password">
    </div>
    <div class="form-inline">
      <div class="checkbox-nice">
        <input type="checkbox" id="keep-logged">
        <label for="keep-logged">
          {{"auth.form.keepLoggedIn" | translate}}
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default" ng-click="ctrl.login()">{{"auth.form.login_button" | translate}}</button>
  </form>
</div>
