.comments {
  .post-comment {
    .media {
      padding-top: 10px;
      .media-left {
        padding: 10px 0;
      }
      button {
        margin-top: 10px;
        &.ng-hide-add {
          animation: 0.5s lightSpeedOut ease;
        }
        &.ng-hide-remove {
          animation: 0.5s lightSpeedIn ease;
        }
      }
    }
    .not-logged {
      color: #c3c3c3;
      text-align: center;
      margin-top: 15px;
    }
  }
}
