<form class="clearfix post-comment" ng-if="ctrl.article.accept_comments">
  <div class="form-group post-comment-logged-in" ng-if="ctrl.loggedIn()">
    <div class="comment media">
      <div class="media-left">
        <a ui-sref="main.profile.home({profile: ctrl.currentUser.person.identifier})">
          <noosfero-profile-image [profile]="ctrl.currentUser.person"></noosfero-profile-image>
        </a>
      </div>
      <div class="media-body">
        <textarea class="form-control custom-control" rows="1" ng-model="ctrl.comment.body" placeholder="{{'comment.post.placeholder' | translate}}"></textarea>
        <noosfero-hotspot-comment-form [comment]="ctrl.comment" [parent]="ctrl.parent"></noosfero-hotspot-comment-form>
        <button ng-show="ctrl.comment.body" type="submit" class="btn btn-default pull-right ng-hide" ng-click="ctrl.save()">{{"comment.post" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="form-group post-comment-not-logged-in" ng-if="!ctrl.loggedIn()">
    <div class="not-logged">
      {{"comment.post.not_logged" | translate}}
    </div>
  </div>
</form>
