<nav id="navbar" class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <theme-header></theme-header>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="ctrl.toggleCollapse()" ng-show="ctrl.showHamburger" tabindex="2">
        <span class="sr-only">{{"navbar.toggle_menu" | translate}}</span>
        <i alt='{{"navbar.icon.description" | translate}}' class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" ui-sref="main.environment.home" tabindex="1">
        <span class="noosfero-logo"> </span>
        <h1 class="noosfero-name">{{ ctrl.currentEnvironment.name }}</h1>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse" collapse="isCollapsed">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="btn-nav" ng-show="!ctrl.currentUser">
          <a ng-href="#" ng-click="ctrl.openLogin()">{{"navbar.login" | translate}}</a>
        </li>

        <li ng-show="!ctrl.currentUser">
          <a ui-sref="main.register">{{"navbar.signup.button" | translate}}</a>
        </li>

        <li class="dropdown profile-menu" ng-show="ctrl.currentUser" uib-dropdown>
          <a href="#" class="dropdown-toggle" aria-expanded="false" uib-dropdown-toggle tabindex="5">
            <noosfero-profile-image [profile]="ctrl.currentUser.person" class="profile-image"></noosfero-profile-image>
            <span ng-bind="ctrl.currentUser.person.name"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
              <a ui-sref="main.profile.info({profile: ctrl.currentUser.person.identifier})"><i class="fa fa-fw fa-user"></i> {{"navbar.profile" | translate}}</a>
            </li>
            <li>
              <a target="_self" ui-sref="main.profile.settings({profile: ctrl.currentUser.person.identifier})"><i class="fa fa-fw fa-gear"></i> {{"navbar.settings" | translate}}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" ng-click="ctrl.logout()"><i class="fa fa-fw fa-power-off"></i> {{"navbar.logout" | translate}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <language-selector class="nav navbar-nav navbar-right"></language-selector>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <tasks-menu class="nav navbar-nav navbar-right"></tasks-menu>
      </ul>
      <div ui-view="actions"></div>
      <div class="nav navbar-nav search navbar-right">
        <search-form></search-form>
      </div>
    </div>
  </div>
</nav>
<div ui-view="toolbar">
</div>
