.navbar {

  .noosfero-name {
    font-size: 19px;
    display: inline;
  }

  margin-bottom: 0px;

  .container-fluid {

    .navbar-brand {
      .noosfero-logo {
        background: url("../assets/images/logo-noosfero.png") no-repeat;
        padding: 0px 62px 28px 15px;
        background-size: 46px;
      }
    }

    .navbar-nav {
      .profile-menu .profile-image {
        img {
          height: 30px;
          width: 30px;
          display: inline-block;
          @extend .img-circle;
        }
        i {
          font-size: 1.7em;
        }
      }
    }

    .navbar-toggle {
  		display: block;
      color: #fff;
      padding: 4px 12px;
      margin: 10px 10px;
      text-align: center;
  	}

    .search {
      .search-input {
        height: 45px;
        margin-top: 10px;
      }
      .input-group-btn {
        padding-top: 10px;
      }
    }

    @media (max-width: $break-sm-max) {
    	.navbar-toggle .fa-bars{
    		font-size: 14pt;
    	}
    }
  }

  .btn-nav {
    border-radius: 0px;
    height: 50px;
    border: none;
  }
}
