<div class="modal-header">
  <h3 class="modal-title">{{ "account.register.termsOfUseTitle" | translate }} - {{ ctrl.environment.name }}</h3>
</div>
<div class="modal-body modal-body-overflow" ng-bind-html="ctrl.environment.terms_of_use"></div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="vm.closeTerms()">OK</button>
</div>
