.profile-info {
  .upload-camera-container {
      top: 55%;
      left: 39px;
  }
}

.profile-info-editable {
    top: 51%;
    width: 103px;
    height: 28px;
}

.profile-info-editable {
  .upload-button {
  	font-size: 0.8em;
      padding-top: 9px;
      padding-left: 6px;
      font-weight: bold;
  }
}

.profile-info-extrainfo {
	margin-top: 10px;
}
