<div class="profile-wall">

  <div class="col-lg-3 col-md-4 col-sm-4">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2>{{vm.profile.name}}</h2>
      </header>
      <div id="profile-left" class="main-box-body clearfix">
        <noosfero-profile-image [profile]="vm.profile" [editable]="true" [edit-class]="'profile-info-editable'" class="img-responsive center-block profile-info"></noosfero-profile-image>
        <div id="profile-info-extrainfo" class="profile-info-extrainfo">
          <span class="label" ng-class="{'label-danger': vm.profile.type == 'Community', 'label-info': vm.profile.type == 'Person'}">{{vm.profile | translateProfile}}</span>
          <div class="profile-since">
            {{"profile.member_since" | translate}}: {{vm.profile.created_at | dateFormat | amDateFormat:'MMMM YYYY'}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-8 col-sm-8">
    <div class="main-box clearfix">
      <uib-tabset active="active">
        <uib-tab index="0" heading="{{ 'activities.title' | translate }}">
          <noosfero-activities [activities]="vm.activities"></noosfero-activities>
        </uib-tab>
        <uib-tab index="0" heading="{{ 'profile.about' | translate }}">
          <profile-data [profile]="vm.profile"></profile-data>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
