<ul class="task-list">
  <li class="task-group" ng-repeat="(target, tasks) in ctrl.tasks | groupBy: 'target.name'">
    <div class="task-target">
      <noosfero-profile-image ng-if="tasks[0].target.type" [profile]="tasks[0].target"></noosfero-profile-image>
      <div class="target-name">{{target}}</div>
    </div>
    <div class="task-body" ng-repeat="task in tasks | orderBy: 'created_at':true">
      <div class="task">
        <ng-include src="ctrl.getTaskTemplate(task)"></ng-include>
      </div>
      <div class="actions">
        <a href="#" ng-if="!task.accept_disabled" ng-click="ctrl.accept(task)" class="accept" uib-tooltip="{{'tasks.actions.accept' | translate}}">
          <i class="fa fa-check"></i>
        </a>
        <a href="#" ng-if="!task.reject_disabled" ng-click="ctrl.reject(task)" class="reject" uib-tooltip="{{'tasks.actions.reject' | translate}}">
          <i class="fa fa-close"></i>
        </a>
      </div>
      <span class="time">
        <span class="bullet-separator">•</span> <span am-time-ago="task.created_at | dateFormat"></span>
      </span>
    </div>
  </li>
</ul>
