$task-action-accept-color: #77c123;
$task-action-reject-color: #d64e18;

.task-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  .task-group {
    border-top: 1px solid #f3f3f3;
    padding: 4px 16px 8px 16px;
  }
  .task-target {
    margin-top: 12px;
    .profile-image {
      color: #2c3e50;
      font-size: 25px;
      width: 25px;
      display: inline-block;
      @extend .img-rounded;
    }
    .target-name {
      display: inline-block;
      margin-left: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .task-body {
    margin-left: 35px;
    padding: 2px;
    .task {
      display: inline-block;
      color: #949494;
      .task-icon {
        font-size: 18px;
        color: #e84e40;
      }
      .requestor, .target {
         font-style: italic;
         color: #676767;
      }
    }
    .actions {
      display: inline-block;
      font-size: 19px;
      a {
        text-decoration: none;
      }
      .accept {
        color: $task-action-accept-color;
        &:hover {
          color: darken($task-action-accept-color, 10%);
        }
      }
      .reject {
        color: $task-action-reject-color;
        &:hover {
          color: darken($task-action-reject-color, 10%);
        }
      }
    }
    .time {
      color: #c1c1c1;
      font-size: 12px;
      .bullet-separator {
        font-size: 10px;
        color: #d1d1d1;
      }
    }
  }
}
.task-confirmation {
  @extend .form-group;
  .confirmation-details {
    margin-bottom: 20px;
  }
  .confirmation-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .actions {
    text-align: center;
  }
}
